node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# expo router
expo-env.d.ts

# expo env
.env

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# filter sensitive files

android/gradle.properties filter=hide_sensitive_gradle
ios/Podfile filter=hide_sensitive_podfile
